[submodule "Dewpsi/vendor/spdlog"]
	path = Dewpsi/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dewpsi/vendor/imgui"]
	path = Dewpsi/vendor/imgui
	url = https://github.com/JohnDevlopment/imgui
[submodule "Dewpsi/vendor/glm"]
	path = Dewpsi/vendor/glm
	url = https://github.com/g-truc/glm
