# subdirectories
doc/
bin/
bin-int/
Dewpsi/vendor/imgui
Dewpsi/vendor/spdlog
Sandbox/vendor
Sandbox/src/dewpsi-include
vendor/lua
.internal

# specific files
Dewpsi/src/platform/sdl/SDL_*.h
Dewpsi/src/platform/sdl/begin_code.h
Dewpsi/src/platform/sdl/close_code.h
index.html

# Make files
*.make
Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
sandbox
premake5
